<%-layout('layouts/boilerplate')%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body>
    <div class="row">
      <div class="col-6 offset-3">
        <h1 class="m-4">Forgot Password</h1>

        <form
          action="/forgotPassword/email"
          method="POST"
          novalidate
          class="validated-form d-inline"
        >
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="text"
              id="email"
              name="email"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="form-group" class="mb-3">
            <input
              type="submit"
              class="btn btn-primary"
              value="Reset Password"
            />
          </div>
        </form>
        <div class="m-5">
          <h3>OR</h3>
        </div>
        <form
          action="/forgotPassword/sms"
          method="POST"
          novalidate
          class="validated-form d-inline"
        >
          <div class="mb-3">
            <label for="phno" class="form-label">Phone number</label>
            <input
              type="tel"
              id="phno"
              name="phno"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="tel"
              id="username"
              name="username"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="form-group" class="mb-3">
            <input
              type="submit"
              class="btn btn-primary"
              value="Reset Password"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
